@font-face {
  font-family:Source Sans Pro;
  src: url('../fonts/SourceSansPro-Regular.ttf');
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: "Source Sans Pro", "Helvetica", sans-serif;
    text-rendering: optimizelegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.header{

	height:80px;
	width:100%;
	background:rgba(0,0,0,0.8);
	display:flex;
	align-items:center;
	justify-content:center;
}

.header .logo img{

	width:90px;
	height:40px;
}