.container .clients-panel .panel-info{
	
	margin-top:30px;
	display:flex;
	height:80px;
	align-items:center;
	flex-wrap:wrap;
	justify-content:space-between;
	width:95%;
	
}

.container .clients-panel .panel-info .info h3{
	
	font-size:20px;

}

.container .clients-panel .panel-info .info p{

	margin-top:20px;
	font-size:20px;
	color:rgb(0,0,0,0.5);
	margin-bottom:20px;

}


.container .clients-panel .panel-info .options a{
	
	
	height:50px;
	width:140px;
	background:#e58e26;
	display:flex;
	font-size:18px;
	align-items:center;
	justify-content:center;
	border-radius:8px;
	border:1px solid #e58e29;
	text-decoration:none;
	color:#fff;

}


.container .clients-panel .panel-body{

	
	margin-top:100px;

}

.container .clients-panel .panel-body .row{
	
	padding:30px;
	border:1px solid #ccc;
	margin:28px auto;
	display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,2fr) minmax(200px,2fr));
	min-height:120px;
	max-height:100%;
	align-items: center;
	grid-gap:20px;
	grid-area:''
	border-radius:1px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);	
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);	;
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);	;
}

.container .clients-panel .panel-body .row .user-name {

	width:100%;
	
}

.container .clients-panel .panel-body .row .user-info{

	width:100%;

}

.container .clients-panel .panel-body .row .user-name p:nth-child(1n),
.container .clients-panel .panel-body .row .user-info p:nth-child(1n){

	font-size:20px;
}


.container .clients-panel .panel-body .row .user-name p:nth-child(2n),
.container .clients-panel .panel-body .row .user-info p:nth-child(2n){

	margin-top:5px;
	font-size:20px;
	color:rgb(0,0,0,0.5);
}


.container .clients-panel .panel-body .row .user-status{

	width:100%;
	display:flex;
	align-items:center;

}

.container .clients-panel .panel-body .row .user-status .status{
	
	content:'';
	width:15px;
	height:15px;
	border-radius:50%;

}

.container .clients-panel .panel-body .row .user-status .status.status-ativo{

	background:green;
}

.container .clients-panel .panel-body .row .user-status .status.status-inativo{
	
	background:red;

}

.container .clients-panel .panel-body .row .user-status .status.status-desativado{

	background:#aaa;

}

.container .clients-panel .panel-body .row .user-status .status.status-aguardando{

	background:#e58e55;
}
.container .clients-panel .panel-body .row .user-status span{

	margin-left:9px;
	font-size:1rem;
	color:rgb(0,0,0,0.6);
}

.container .clients-panel .panel-body .row .actions{

	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}

.container .clients-panel .panel-body .row .actions .btn-edit{
	display:flex;
	justify-content:center;
	align-items:center;
	height:47px;
	border-radius:2px;
	width:120px;
	margin-top:10px;
	color:#e58e26;
	background:#fff;
	border:1.5px solid #e58e26;
	font-size:18px;
	text-transform:capitalize;
	border-radius:4px;
}

.container .clients-panel .panel-body .row .actions .btn-edit:hover{

	cursor:pointer;
	color:#ffff;
	background:#e58e26;
	transition:0.3s ease;

}

.container .clients-panel .panel-body .row .actions .btn-delete{
	display:flex;
	justify-content:center;
	align-items:center;
	height:47px;
	border-radius:2px;
	width:120px;
	margin-top:10px;
	color:red;
	background:#fff;
	border:1.5px solid red;
	font-size:18px;
	text-transform:capitalize;
	border-radius:4px;
}

.container .clients-panel .panel-body .row .actions .btn-delete:hover{

	cursor:pointer;
	color:#ffff;
	background:red;
	transition:0.3s ease;

}

.container .clients-panel .show-users{

	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:10px;

}

.container .clients-panel .show-users .btn{
	
	height:70px;
	width:200px;
	background:#e58e26;
	display:flex;
	font-size:18px;
	align-items:center;
	justify-content:center;
	border-radius:6px;
	border:1px solid #e58e29;
	color:#fff;
	cursor:pointer;

}

.numbers-clients span{

	font-size:22px;
	color:#010110;
}

@media(min-width: 650px) and (max-width: 1371px)  {
	
.container .clients-panel .panel-body .row{

		width:650px;
	}


}


@media(max-width:650px){
	
	.container .clients-panel .panel-body .row{

		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}

	.container .clients-panel .panel-body .row .user-name {

		width:100%;
	}

	.container .clients-panel .panel-body .row .user-info{

		width:100%;
		margin-bottom:20px;

	}

	.container .clients-panel .panel-body .row .actions {

		width:100%;
	}
}
